<%= simple_form_for :filter, url: profiles_path, method: "GET" do |f| %>
  <div class="form-container">
    <div class="inline-form">
      <%= f.input :date,  collection: Profile::DATE, label: "Fecha", required: false %>
      <%= f.input :hour, collection:  Profile::HOUR, label: "Fecha", required: false%>
      <%= f.input :price%>
      <%= f.input :type_super, collection: Profile::TYPE_SUPER, required: false %>
    </div>
    <div class="buttons-search-mc">
      <%= f.submit class:"btn-flat"%>
    </div>
  </div>
<% end %>
