

<div class="container ">
  <div class="search-output">
    <div class="filters">
    <% if params[:filter] %>
      <% date = params[:filter][:date] %>
      <% hour = params[:filter][:hour] %>
      <% price = params[:filter][:price]%>
      <% type_super = params[:filter][:type_super]%>
    <% end %>
      <ul class="list-inline"    >
        <% link_date =  !date.blank? ? date : "En 7 Días" %>
        <li><%= link_to "#{link_date}", profiles_filter_path, class:"btn-flat" %></li>
        <% link_hour =  !hour.blank? ? hour : "Hora Flexible"  %>
        <li ><%= link_to "#{link_hour}",profiles_filter_path, class:"btn-flat" %></li>
        <% link_price = !price.blank? ? "#{price}$ " : "30k$ - 70k$" %>
        <li><%= link_to "#{link_price}",profiles_filter_path, class:"btn-flat" %></li>
        <li > <%= link_to "Más Filtros",profiles_filter_path, class:"btn-flat" %></li>
      </ul>
    </div>
  </div>

  <div class="">


    <div class="cards">
      <% @profiles.each do |profile| %>
      <div class="card-campanazzo">
        <div class="card-campanazzo-top">
          <div class="card-campanazzo-picture">
            <i class="card-like fa-brands fa-pagelines"></i>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" />
          </div>
          <div class="card-campanazzo-info">
            <div class="card-campanazzo-details">
              <h2><strong><%=profile.name%> <%= profile.last_name %></strong></h2>
              <h3>50.000$ / Hora</h3>
            </div>
            <p><i class="fa-solid fa-list-check"></i> Plomero ( 200 Trabajos)</p>
            <p><strong> (100 Recomendaciones)</strong></p>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <p> <i class="fa-solid fa-truck"></i> Bicicleta</p>
          </div>
        </div>
        <div class="card-campanazzo-bottom">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat aliquam suscipit, est quae quibusdam, nisi minima tempore cupiditate aspernatur vel omnis molestiae inventore ab earum, totam aut praesentium dolores? Ducimus.</p>
        </div>
        <div class="card-campanazzo-footer">
          <%= link_to "Seleccionar", "#", class: " btn-campanazzo" %>
        </div>
      </div>
        <% end %>
      </div>

    </div>
  </div>

</div>
