<div class="banner-show">
  <div class="container">
    <h1><%= @profile_worker.name %> <%= @profile_worker.last_name %></h1>
    <div class="rating">
      <% start = @profile_worker.score.nil? ? 3 : @profile_worker.score.ceil %>
        <% start.times do |start| %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5-start).times do |start| %>
         <i class="far fa-star"></i>
        <% end %>
    </div>
    <p><strong>(<% count = @profile_worker.reservations.count %> <%= pluralize(count, 'trabajo') %> </strong> )</p>
  </div>
</div>

<div class="container">
  <div class="pictures">
    <%if @profile_worker.photo.key %>
    <%= cl_image_tag @profile_worker.photo.key, class: "avatar-large margin-top-negative center mb-3" %>
    <%else %>
    <%= image_tag "avatar_my_profile.jpg", class: "avatar-large margin-top-negative center mb-3"  %>
    <%end %>
  </div>

  <div class="show-worker-description">
    <p><%= @my_profession.nil? ? "Bienvenidos a mi perfil.  Quiero ayudarte, por lo que mira mis competencia y seleccióname cuando necesites." : @my_profession.bio  %></p>
  </div>

  <div class="show-skills mt-3 d-flex  align-content-start flex-wrap">
    <% @skills.each do |skill| %>
      <%= link_to skill, "#", class: "label-skills mb-2 btn-rounded mx-1"  %>
    <% end %>
  </div>

  <div class="" data-controller="booker">
    <% if @profile_connected == @profile_worker  %>
    <div class="button-selectionar" >
      <button class="btn-campanazzo">Editar</button>
    </div>
    <% elsif (session[:flow_basic] == 'terminated')|| ( session[:flow_basic] == 'new' && session[:post_id] == nil) %>
    <div class=" mt-3 d-flex p-2 " >
      <% session[:selected_profile_worker_id] = @profile_worker.id %>
      <%= link_to 'Contratar', new_post_path, class: "btn-campanazzo"  %>
      <%# <button class="btn-campanazzo">Contratar</button> %>
    </div>

    <% else %>

    <div class="button-selectionar" data-booker-target="select">
      <button class="btn-campanazzo" data-action="click->booker#displayForm">Seleccionar</button>
    </div>
    <div class="d-none" data-booker-target="calendar">
      <%= simple_form_for [@post, @reservation] do |f| %>
        <%= f.hidden_field  :profile_id, :value => @profile_worker.id   %>
        <%= f.input :start_date,required: true,  as: :datetime, html5: true %>
        <%= f.submit 'Confirmar', class: 'btn-campanazzo' %>
      <% end %>
    </div>


    <% end %>
  </div>

</div>

  <div class="show-profile-reviews container mt-5 ">
    <h2 class="mt-3 ">Comentarios de Clientes</h2>

    <% if !@reviews.nil? %>
      <% @reviews.each do |review| %>
      <% profile_customer = Profile.find((Post.find(review.post_id)).profile_id) %>
      <div class="card-review my-3">
          <div class="card-review-top">
            <div class="card-review-top-customer">
              <h5><%= profile_customer.name %> <%= profile_customer.last_name[0].capitalize %>.</h5>
            </div>
            <div class="card-review-top-date">
              <p><%= time_ago_in_words review.created_at %></p>
              <p><%#= review.created_at.strftime("%m/%d/%Y") %></p>
            </div>

            <div class="card-review-top-actions d-none ">
              <a href="#"> <i class="fas fa-pencil-alt"></i></a>
              <a href="#"> <i class="far fa-trash-alt"></i></a>
            </div>
          </div>
          <div class="card-review-body">
            <div class="card-review-body-profession">
            </div>
            <div class="card-review-body-description">
              <p><% review.description %></p>
            </div>
            <div class="card-review-rating">
              <% start = profile_customer.score.nil? ? 1 : profile_customer.score.ceil %>
              <% start.times do |start| %>
                <i class="fas fa-star"></i>
              <% end %>
              <% (5-start).times do |start| %>
              <i class="far fa-star"></i>
              <% end %>
            </div>
          </div>
      </div>
      <% end %>
    <% end %>

  </div>
