<div class="container">

  <h2>Editar <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

        <%= f.input :whatsapp,
                    label: "Whatsapp (Ej: 300502000)",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "whatsapp" }%>
      <%= f.input :email,
                    required: true,
                    autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>

    <div class="form-actions">
      <%= f.button :submit, "Actualizar" , class: 'btn-campanazzo'%>
    </div>
  <% end %>

  <hr class="mt-3">
  <h3 class='text-center'>Cerrar Mi Cuenta</h3>
  <div class="d-flex align-items-center">
    <div>¿ No estas Feliz Con Campanazzo ?</div>
    <%= button_to "Cerrar Cuenta", registration_path(resource_name), data: { confirm: "¿Estas seguro?" }, method: :delete, class: "btn btn-link" %>
  </div>

</div>
