
<div class="container">
  <div class="card-post-new-tell-us">
    <img src="https://res.cloudinary.com/wectcorp/image/upload/v1661920987/icon_campanazzo_qhypix.png"  class="avatar-medium" alt="avatar image campanazzo">
    <div class="card-post-new-tell-us-info">
      <h5 class='ml-0'>Inscríbete A Campanazzo</h5>
      <p class='ml-0'>Y Gana <strong>Tiempo</strong> ó <strong>Dinero</strong> </p>    </div>
  </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <hr class="mt-1">
      <h5>¿ Como Te Podemos Ayudar ?</h5>
      <%= f.hint "Selecciona el tipo de actividad que quieres hacer con Campanazzo. " %>

      <div class="form-check form-check-inline">
        <%= f.input :type_profile,
                  as: :radio_buttons,
                  collection: User::TYPE_PROFILE,
                  label_text: false,
                  class: "form-check-input",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "type_profile" } %>
      </div>
      <hr class="mt-1">
      <%= f.input :whatsapp,
                  label: "Whatsapp (Ej: 300502000)",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "whatsapp" }%>
      <%= f.input :email,
                  label: "E-mail",
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  label: "Contraseña",
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: "Confirmación De Contraseña",
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "InscribirMe" , class: 'btn-campanazzo' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
