<%= simple_form_for(@post) do |f| %>
  <%= f.input :address, label: '¿ Cual es tu dirección ?' %>
  <%= f.input :quick_assessment, label: '¿Podrías estimar la complejidad?', collection: Post::ASSESSMENT%>
  <%= f.input :description, label: '¿ Dinos más sobre la tarea?' %>

<div class="buttons">
  <%= f.submit 'Crear Anuncio' ,class:"btn-campanazzo" %>
</div>
  <% end %>
