<%= simple_form_for(@post) do |f| %>
  <%= f.input :carrier, label: '¿ Profección ?', collection:  @profile_contratar_buttom.professions, label_method: lambda { |profession| profession.name }, required: true %>
  <%= f.input :address,
              label: '¿ Cual es tu dirección ?',
              input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
              wrapper_html: {data: {controller: "address-autocomplete",
              address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
  %>
  <%= f.input :quick_assessment, label: '¿Podrías estimar la complejidad?', collection: Post::ASSESSMENT%>
  <%= f.input :date,required: true,  as: :datetime, html5: true %>
  <%= f.input :description, label: '¿ Dinos más sobre la tarea?' %>

<div class="buttons">
  <%= f.submit class:"btn-campanazzo" %>
</div>
  <% end %>
