<%= simple_form_for(@post) do |f| %>
  <%= f.input :address, label: '¿ Profección ?', collection:  @profile_contratar_buttom.professions, label_method: lambda { |profession| profession.name }, required: true %>
  <%= f.input :address, label: '¿ Cual es tu dirección ?' %>
  <%= f.input :quick_assessment, label: '¿Podrías estimar la complejidad?', collection: Post::ASSESSMENT%>
<div class="buttons">
  <%= f.submit class:"btn-flat" %>
  <button class= "create-gradient" href="#">
    <%= link_to "Return to home page", root_path %>
  </button>
</div>
  <% end %>
