<div class="navbar-container">
  <div class="mobile-navbar">
    <%= link_to root_path do %>
      <i class="fa-regular fa-compass"></i>
      <% end %>
    <%= link_to root_path do %>
      <i class="fa-regular fa-clipboard"></i>
      <% end %>
    <%= link_to root_path do %>
        <%= image_tag "Logo-campa plus purple.png", id: "navbar-logo" %>
      <% end %>
    <%= link_to root_path do %>
      <i class="fa-regular fa-message"></i>
      <% end %>
    <%= link_to root_path do %>
      <i class="fa-regular fa-user"></i>
      <% end %>
  </div>
</div>
