<%= simple_form_for(@profile) do |f| %>
    <%= f.input :name,
                label: 'Nombre',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "type_profile" } %>
    <%= f.input :last_name, label: 'Apellido',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "type_profile" } %>
    <%= f.input :birthday , label: 'Fecha de nacimiento'%>
    <%= f.input :address , label: 'Dirección'%>
    <%= f.input :photo, label: 'Foto de Perfil',  as: :file %>
    <%= f.input :personal_number,
                label: 'Cedula',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "type_profile" } %>

    <div class="buttons">
      <%= f.submit   'Inscribirse Como Trabajador', class:"btn-campanazzo" %>
    </div>
  <% end %>
