
<%# campanazzo icon library %>
  <%# <i class="fa-solid fa-plus"></i> %>
  <%# <i class="fa-regular fa-circle-check"></i> %>
  <%# <i class="fa-solid fa-car-side"></i> %>
  <%# <i class="fa-regular fa-user"></i> %>
  <%# <i class="fa-regular fa-compass"></i> %>
  <%# <i class="fa-regular fa-message"></i> %>

<%# components %>

<div class="container">
  <%# SECTION TO TEST CARD INTO THE PROD GRID%>
  <div class="cards">
    <div class="card-post">
      <div class="card-post-head">
        <h2>Task tittle</h2>
      </div>
      <div class="card-post-body">
        <div class="card-post-body-right">
          <p><i class="fa-solid fa-calendar-days"></i> Jueves 20 Octubre 2022</p>
          <p><i class="fa-solid fa-clock"></i> 11:30 am - 12:00 pm</p>
          <p><i class="fa-solid fa-car-side"></i> Auto requerido</p>
        </div>
        <div class="card-post-body-left">
          <div class="product-img-div"><%= image_tag ("wilson_test.png"), class: "avatar-medium" %></div>
          <p>By: <strong>Wilson C.</strong> </p>
        </div>
      </div>

      <div class="card-post-button">
        <%= link_to "Detalles", "#", class: "btn-post-action" %>
        <%= link_to "Chat", "#", class: "btn-post-action" %>
      </div>
    </div>
  </div>


  <div class="row">
    <%# product card %>
    <div class=" col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
      <div class="product-card">
        <div class="product-header">
          <div class="product-img-div"><%= image_tag ("wilson_test.png"), class: "avatar-large" %></div>
          <div class="product-header-content">
            <h1>Wilson C.</h1>
            <p class="red-text"><i class="bold fa-solid fa-star"></i> 99% positive card-reviews <br><i class="fa-regular fa-circle-check bold"></i> 1 delivery task</h3>

          </div>
        </div>
        <div class="product-content">
          <div class="product-content-header">
            <h3>Featured Skills</h3>
          </div>
          <div class="product-content-description">
            <div class="product-content-description-skills">
              <p>Delivery</p>
              <p>Help moving</p>
              <p>Home repairs</p>
            </div>
            <div class="product-content-description-prices bold">
              <p>$41/hr</p>
              <p>$75/hr</p>
              <p>$65/hr</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# profile-card %>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
      <div class="profile-card">
        <div class="profile-header">
          <div class="profile-img-container">
            <div class="img"></div>
          </div>
          <div class="profile-rating">
            <i class="fa-solid fa-car-side"></i>
          </div>
          <div class="profile-price"></div>
        </div>
        <div class="profile-content">
          <div class="profile-content-description"></div>
          <div class="btn"></div>
        </div>
      </div>
    </div>

    <%# job-card %>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
      <div class="card-review-card">
        <div class="card-review-header">
          <div class="card-review-header">
            <div class="card-review-content"></div>
            <div class="card-review-date"></div>
          </div>
        </div>
        <div class="card-review-description"></div>
        <div class="card-review-rating"></div>
      </div>
    </div>
  </div>

</div>


<%# card card-review %>

<div class="container">
  <div class="cards">

    <div class="card-review">
      <div class="card-review-top">
        <div class="card-review-top-customer">
          <h5>Mario luis L.</h5>
        </div>
        <div class="card-review-top-date">
          <p>9th January</p>
        </div>
        <div class="card-review-top-actions d-none">
          <a href="#"> <i class="fas fa-pencil-alt"></i></a>
          <a href="#"> <i class="far fa-trash-alt"></i></a>
        </div>
      </div>
      <div class="card-review-body">
        <div class="card-review-body-profession">

        </div>
        <div class="card-review-body-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales sapien nec nisl condimentum malesuada. Suspendisse volutpat ultricies diam eget sodales. Suspendisse ac lectus laoreet nibh tempor feugiat in non lacus.</p>
        </div>
        <div class="card-review-rating">
          <% start = 3 %>
           <% start.times do |start| %>
             <i class="fas fa-star"></i>
           <% end %>
          <% (5-start).times do |start| %>
           <i class="far fa-star"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card-review">
      <div class="card-review-top">
        <div class="card-review-top-customer">
          <h5>Mario luis L.</h5>
        </div>
        <div class="card-review-top-date">
          <p>9th January</p>
        </div>
        <div class="card-review-top-actions d-none">
          <a href="#"> <i class="fas fa-pencil-alt"></i></a>
          <a href="#"> <i class="far fa-trash-alt"></i></a>
        </div>
      </div>
      <div class="card-review-body">
        <div class="card-review-body-profession">

        </div>
        <div class="card-review-body-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales sapien nec nisl condimentum malesuada. Suspendisse volutpat ultricies diam eget sodales. Suspendisse ac lectus laoreet nibh tempor feugiat in non lacus.</p>
        </div>
        <div class="card-review-rating">
          <% start = 3 %>
           <% start.times do |start| %>
             <i class="fas fa-star"></i>
           <% end %>
          <% (5-start).times do |start| %>
           <i class="far fa-star"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card-review">
      <div class="card-review-top">
        <div class="card-review-top-customer">
          <h5>Mario luis L.</h5>
        </div>
        <div class="card-review-top-date">
          <p>9th January</p>
        </div>
        <div class="card-review-top-actions">
          <a href="#"> <i class="fas fa-pencil-alt"></i></a>
          <a href="#"> <i class="far fa-trash-alt"></i></a>
        </div>
      </div>
      <div class="card-review-body">
        <div class="card-review-body-profession">

        </div>
        <div class="card-review-body-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales sapien nec nisl condimentum malesuada. Suspendisse volutpat ultricies diam eget sodales. Suspendisse ac lectus laoreet nibh tempor feugiat in non lacus.</p>
        </div>
        <div class="card-review-rating">
          <% start = 3 %>
           <% start.times do |start| %>
             <i class="fas fa-star"></i>
           <% end %>
          <% (5-start).times do |start| %>
           <i class="far fa-star"></i>
          <% end %>
        </div>
      </div>
    </div>



  </div>

   <div class="cards">
    <div class="card-post">
      <div class="card-post-head">
        <h2>Task tittle</h2>
      </div>
      <div class="card-post-body">
        <div class="card-post-body-right">
          <p><i class="fa-solid fa-calendar-days"></i> Jueves 20 Octubre 2022</p>
          <p><i class="fa-solid fa-clock"></i> 11:30 am - 12:00 pm</p>
          <p><i class="fa-solid fa-car-side"></i> Auto requerido</p>
        </div>
        <div class="card-post-body-left">
          <div class="product-img-div"><%= image_tag ("wilson_test.png"), class: "avatar-medium" %></div>
          <p>By: <strong>Wilson C.</strong> </p>
        </div>
      </div>

      <div class="card-post-button">
        <%= link_to "Detalles", "#", class: "btn-post-action" %>
        <%= link_to "Chat", "#", class: "btn-post-action" %>
      </div>
    </div>
  </div>
</div>


<%# navbar %>
<div class="navbar-container">
  <div class="mobile-navbar">
    <%= link_to root_path do %>
      <i class="fa-regular fa-compass"></i>
      <% end %>
    <%= link_to root_path do %>
      <i class="fa-regular fa-clipboard"></i>
      <% end %>
    <%= link_to root_path do %>
        <%= image_tag "logo_plus.PNG", id: "navbar-logo" %>
      <% end %>
    <%= link_to root_path do %>
      <i class="fa-regular fa-message"></i>
      <% end %>
    <%= link_to root_path do %>
      <i class="fa-regular fa-user"></i>
      <% end %>
  </div>
</div>
