<div class="container">

  <div class="title-log-in my-3">
    <h2>Bienvenido A Campanazzo</h2>
    <p>Mi Pagina De Log-In</p>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
    <div class="form-inputs">
      <%= f.input :whatsapp,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "whatsapp" } %>
      <%= f.input :password,
                  label: 'Contraseña',
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, label: 'Recuerda Me',  as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Conectarse", class: 'btn-campanazzo' %>
    </div>
  <% end %>

  <%#= render "devise/shared/links" %>


  <div class="d-flex flex-column mt-4">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Inscribirse (Soy Nuevo)", new_registration_path(resource_name), class: 'btn-ghost' %><br />
    <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "¿ Olvidaste Tu Contraseña ?", new_password_path(resource_name) , class: 'btn-ghost'%><br />
    <% end %>

  </div>
</div>
