<%= simple_form_for(@post) do |f| %>
    <%= f.input :address %>
    <%= f.input :date %>
    <%= f.input :available_48, collection: Post::AVAILABILITY_48%>
    <%= f.input :photo, as: :file %>
    <%= f.input :quick_assessment, collection: Post::ASSESSMENT%>
    <%= f.input :transport, collection: Post::TRANSPORT%>
    <div class="buttons">
      <%= f.submit class:"btn-flat" %>
      <button class= "create-gradient" href="#">
        <%= link_to "Return to home page", root_path %>
      </button>
    </div>
  <% end %>
